In [ ]:
##FIRST BASIC PROGRAM TO READ CSV FILES
import requests, folium
import pandas as pd

s = 'Welcome to the emergency locator app'
print(s)
service = input("Please enter the service you require ('fire', 'police', or 'hospital')")
zipcode = int(input("Please enter your zipcode"))
dtype={'ZIP': object}
hospitals = pd.read_csv('emergency.csv')
fire = pd.read_csv('fire_stations.csv')
police = pd.read_csv('police_station.csv')

In [6]:
##THIS PROGRAM FILTERS OUR RESULTS

"""
import pandas as pd
import numpy as np
hospitals = pd.read_csv('emergency.csv')
hospitals['CITY'].value_counts()
"""


import pandas as pd
import numpy as np
dtype={'ZIP': object}
hospitals = pd.read_csv('emergency.csv')
display(hospitals[hospitals ['ZIP'] == 33156 ])

,OBJECTID,ID,NAME,TELEPHONE,ADDRESS,ADDRESS2,CITY,STATE,ZIP,ZIPP4,...,NBR_STA,OWNER,LEVEL_,TYPE,SPECIALTY,EMSLICENSE,EMERPHONE,FRST,PERM_ID,GNIS_ID
2666,11667,10269938,MIAMI - DADE COUNTY FIRE RESCUE STATION 23,786-331-5000,7825 SOUTHWEST 104TH STREET,,MIAMI,FL,33156,2630,...,0,,,,,,,Y,{0EF12247-B71F-4E67-945F-8F58EB56B98C},2131338
2754,11755,10270131,MIAMI - DADE COUNTY FIRE RESCUE STATION 49,786-331-5000,10850 SOUTHWEST 57TH AVENUE,,PINECREST,FL,33156,4110,...,0,,,,,,,Y,{72C7304D-C4A0-499C-A1FF-5AD26833995F},2131283
2766,11767,10225582,CORAL GABLES FIRE DEPARTMENT STATION 3,305-662-9336,11911 OLD CUTLER ROAD,,CORAL GABLES,FL,33156,4242,...,0,,,,,,,Y,C4D410F2-B291-4ED5-BFE4-4E94FCDB5FE4,2131189

In [ ]:
##FINAL CODE *WORK IN PROGRESS*

import pandas as pd
import numpy as np
import requests
import folium


crimes = ['A', 'B,', 'C', 'D'] ##these are the four options 
while True:
    choice = input("Enter choice: (A for Police, B for Hospitals, C for Fire stations, and D to quit)").upper()
    if choice == 'D':
        break
    location = int(input("Please enter your zipcode: "))
    if choice == 'A':
        dtype={'ZIP': object}
        police = pd.read_csv('police_station.csv')
        display(police[police ['ZIP'] == location ])
    elif choice == 'B':
        dtype={'ZIP': object}
        hospitals = pd.read_csv('emergency.csv')
        display(hospitals[hospitals ['ZIP'] == location ])
    elif choice == 'C':
        dtype={'ZIP': object}
        fire = pd.read_csv('fire_stations.csv')
        display(fire[fire ['ZIP'] == location ])
    elif choice == "D":
        break
    else:
        print('ERROR:', choice,'is not a menu option') 
        
##SO FAR: loop has break statement, loop also has error statement so you have to input a valid option,
##3 options for each plot, a list of the options, an input for the location, filtering databse per zipcode
##WHAT IS LEFT: combine loop and filtering database, plot results of filtered database on map and output

Enter choice: (A for Police, B for Hospitals, C for Fire stations, and D to quit)A
Please enter your zipcode: 33156

/Users/luca/miniconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,OBJECTID,ID,NAME,TELEPHONE,ADDRESS,ADDRESS2,CITY,STATE,ZIP,ZIPP4,...,INMATE_WOM,INMATE_JUV,INMATE_COE,CAPACITY,TOTALPOP,EMERPHONE,PERM_ID,GNIS_ID,CI,TYPE
8124,8125,10222359,PINECREST POLICE DEPARTMENT,305-234-2109,12645 SOUTH DIXIE HIGHWAY,,MIAMI,FL,33156,5941,...,,,,0,0,,08710db8-b5e3-445b-9d94-89e941f56610,2077450,Y,Local

Enter choice: (A for Police, B for Hospitals, C for Fire stations, and D to quit)B
Please enter your zipcode: 13210

,OBJECTID,ID,NAME,TELEPHONE,ADDRESS,ADDRESS2,CITY,STATE,ZIP,ZIPP4,...,NBR_STA,OWNER,LEVEL_,TYPE,SPECIALTY,EMSLICENSE,EMERPHONE,FRST,PERM_ID,GNIS_ID
24205,27206,10523324,SYRACUSE FIRE DEPARTMENT STATION 10,315-473-5525,2030 EAST GENESEE STREET,,SYRACUSE,NY,13210,2216,...,0,,,,,,,Y,,
24269,27270,10523319,SYRACUSE FIRE DEPARTMENT STATION 7,315-473-5525,1039 EAST FAYETTE STREET,,SYRACUSE,NY,13210,1022,...,0,,,,,,,Y,,

### - add comments
- simplify table ( not needed if plotting on map )
- marker for loop
    - display name, telephone and address on marker
- multiple codes to show progessions
- combine loop and database